<footer>
    <h1>Follow Me on Social Media</h1>
        <ul class="accordion">
            
          <li class="tabs">
                <div class="social youtube">
                  <a href="https://youtube.com"></a>
                </div>
                <div class="content">
                  <h1>YouTube</h1>
                  <p>Just kidding! I do not have a YouTube account. I'm not too fond of the camera.</p>
                </div>
              </li>
          <li class="tabs">
            <div class="social twitter">
              <a href="https://twitter.com/"></a>
            </div>
            <div class="content">
              <h1>Twitter</h1>
              <p>My thoughts in 140 characters or less. Sometimes, I do not know how to correctly use Twitter.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social facebook">
              <a href="https://facebook.com"></a>
            </div>
            <div class="content">
              <h1>Facebook</h1>
              <p>Where I get to stalk my friends and let them stalk me. A place to get people to stroke your ego.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social linkedin">
               <a href="https://my.linkedin.com/"></a>
            </div>
            <div class="content">
              <h1>LinkedIn</h1>
              <p>I act totally professional on this one. It is what the recruiters see, you see.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social insta">
              <a href="http://instagram.com/"></a>
            </div>
            <div class="content">
              <h1>Instagram</h1>
              <p>Where I post my duckface pictures. Occasionally, I would post pictures of my food and my cats.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social tumblr">
              <a href="https://tumblr.com/"></a>
            </div>
            <div class="content">
              <h1>Tumblr</h1>
              <p>I have a tumblr but I don't really use it. I still prefer WordPress. I'm quite old-fashioned.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social dribbble">
              <a href="http://dribbble.com"></a>
            </div>
            <div class="content">
              <h1>Dribbble</h1>
              <p>I do not have a Dribbble account. Would any of you be so kind and send me an invite? </p>
            </div>
          </li>
        </ul>
        <p class="text-center"> Developed & Maintained by Ks <span>2019</span></p>

    </footer>



