
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="/"><b>K</b><small>s</small></a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/do-list">My Do List</a></li>
                <li class="nav-item"> <a class="nav-link" href="/tutorials">My Works</a></li>
                <li class="nav-item"> <a class="nav-link" href="/gallery">My Gallery</a></li> 
                <li class="nav-item"> <a class="nav-link" href="/myquiz">My Quiz</a></li>
                <li class="nav-item"> <a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    
