<!doctype html>
<html lang="en">

<head>
    <title><%=  title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="_Jo8fwQ0XNn0KSeL5qMWRDIdy5IsAj9dgOx-6XsnGMc" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="stylesheet/style1.css">
    <link rel="stylesheet" href="stylesheet/quiz.css">
    <link rel="stylesheet" href="stylesheet/image.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="/"><b>K</b><small>s</small></a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#tutors">My Tutors</a></li>
                <li class="nav-item"> <a class="nav-link" href="#my_works">My Works</a></li>
                <li class="nav-item"> <a class="nav-link" href="/gallery">My Gallery</a></li> 
                <li class="nav-item"> <a class="nav-link" href="/myquiz">My Quiz</a></li>
                <li class="nav-item"> <a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    
