
.qcontainer{
    height: 330px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 225, 255, 0.5);
    border: 1px solid #00038c;
    box-shadow: 0 0 8px  3px #fff;

}
.title{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #08038c;
}

.question{
    padding-top: 20px;
    font-size: 22px;
    background: #08038c;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: #f6f6f6;
}
.option{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255, 255,255, 0.5);
    color: #000000;
    border-radius: 20px;
}
.option:hover{
    background: #08038c;
    color: #f6f6f6;
}
.startButton{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    background: rgba(255, 225, 255, 0.5);
    font-size: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}
.next-btn{
    border: none;
    outline: none;
    background: rgba(255, 225, 255, 0.5);
    width: 150px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float:right;
    margin: 10px;
}
.next-btn:hover{
    background: #08038c;
    color: #f6f6f6;
}
.resultCount{
    height: 100px;
    text-align: center;
    font-size: 75px;

}
.option input:checked .option{
    background: #08038c;
    color: #000000;
}



