
<% include partials/top-css.ejs %>
<link rel="stylesheet" href="stylesheet/dolist.css">
<% include partials/top.ejs %>

<header>
    <input type="text" placeholder="Enter an Activity...">
    <button></button>
</header>



<script src="js/do-list.js"></script>
    <% include partials/bottom.ejs %>