 
<% include partials/top.ejs %>

    
    <div class="container-image">
     <div class="main-image-gallery  text-center"><img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/53343671_2045420512242671_5794970493685596160_n.jpg?_nc_cat=111&_nc_ht=scontent.fccu2-1.fna&oh=4cd7f4dae46577e37a09cf3ec958a4af&oe=5D9C8E02" alt="" id="current"></div>
 <div class="imgs-gallery">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/50230529_1979977902120266_4621526845064478720_n.jpg?_nc_cat=108&_nc_ht=scontent.fccu2-1.fna&oh=76053bba154a9fa34bc7c8dcc23ff512&oe=5D68E36D" alt="">
     <img src="" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/44070850_1848794041905320_7757981851758624768_n.jpg?_nc_cat=111&_nc_ht=scontent.fccu2-1.fna&oh=6bd22b8e7683b00e1dbd15639d38fad3&oe=5D6A473C" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/42390201_1821414071309984_777848075140988928_n.jpg?_nc_cat=100&_nc_ht=scontent.fccu2-1.fna&oh=12e1ce400891eec3720d77114f4af053&oe=5D558A2D" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/29683272_1588396567945070_1236085894259427760_n.jpg?_nc_cat=110&_nc_ht=scontent.fccu2-1.fna&oh=2e87238fd1d18302ee4464d32312ed19&oe=5D55E4A4" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/12002065_826943164090418_3681781752615929939_n.jpg?_nc_cat=101&_nc_ht=scontent.fccu2-1.fna&oh=f85575a263df0ed74939f402dcc6543d&oe=5D59C9B5" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/11855821_805875292863872_5136703143428313044_n.jpg?_nc_cat=102&_nc_ht=scontent.fccu2-1.fna&oh=b84f35a1025c1fc004517a0e7e4ffc59&oe=5D64A8A7" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/11692738_792552534196148_670118033380131277_n.jpg?_nc_cat=107&_nc_ht=scontent.fccu2-1.fna&oh=39964d0d857df85b0ee410e6b78c2fe1&oe=5D570613" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/11060011_788085551309513_3640845510444193974_n.jpg?_nc_cat=100&_nc_ht=scontent.fccu2-1.fna&oh=ddb7e4fa6bc3a1ce3e7dc5dc25b2ed35&oe=5D97A29E" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/18591_783698975081504_2242752022967605806_n.jpg?_nc_cat=106&_nc_ht=scontent.fccu2-1.fna&oh=73eefd4d8defec7098f3f92eb30e4dc8&oe=5D6703D1" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/11407182_777822682335800_8597869928799119803_n.jpg?_nc_cat=110&_nc_ht=scontent.fccu2-1.fna&oh=d79f09b98ac833d6d7154aa1fad13802&oe=5D5F4DF3" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/11536721_777064452411623_2189984514612121585_n.jpg?_nc_cat=108&_nc_ht=scontent.fccu2-1.fna&oh=4cdad8986aa88b1873e7bd41316645e5&oe=5D5FBF5E" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/11412355_772993319485403_5609163922429980914_n.jpg?_nc_cat=102&_nc_ht=scontent.fccu2-1.fna&oh=01febff87ccf4e91feb7800d8aa255fc&oe=5D9B8E8E" alt="">
     <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/60653182_373487303514809_853928992678346752_n.jpg?_nc_cat=110&_nc_ht=scontent.fccu2-1.fna&oh=d3f6c6a5960188efab82c4c41081ca67&oe=5D6D6967" alt="">
<img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/60334440_650229258755544_686975844286988288_n.jpg?_nc_cat=107&_nc_ht=scontent.fccu2-1.fna&oh=fa98080e1e17625ab0f10e78a76e79f7&oe=5D65E1E8" alt="">
<img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/60909345_653160171795786_1546342733713506304_n.jpg?_nc_cat=102&_nc_ht=scontent.fccu2-1.fna&oh=4272f4a814da751b1cc98d24770491d1&oe=5D979BC4" alt="">   
<img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/60444376_2443931715889052_570002594664022016_n.jpg?_nc_cat=104&_nc_ht=scontent.fccu2-1.fna&oh=581c7015adcb48e9437543d4381dfa35&oe=5D511519" alt="">
<img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/28660345_1990040667990091_7944700691541617669_n.jpg?_nc_cat=110&_nc_ht=scontent.fccu2-1.fna&oh=2700402341eb3834bf46077a93a841b6&oe=5D55382D" alt="">
<img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/15032836_1191807557573096_844468242728463000_n.jpg?_nc_cat=109&_nc_ht=scontent.fccu2-1.fna&oh=a6da944f06fbdb8f5895912e4751a864&oe=5D6C30D7" alt="">
<img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/45795682_2286197321624199_1020670472196456448_n.jpg?_nc_cat=100&_nc_ht=scontent.fccu2-1.fna&oh=4c19a4c5ef6ef031e9be53be7777e905&oe=5D53A679" alt="">
</div>
  </div>   
  <h2 class="">Learnt from Traversy Media, <a href="https://codepen.io/bradtraversy/pen/zpeyBv"> Here is link of his sorcefile at codepen</a></h1>
    <h2 class="">Picuturs has been take from facebook for learning purpose, not for commercial use</h2>
</div>
    <div class="card-footer-fluid">
            <p class="text-center"> Developed & Maintained by Ks <span>2019</span></p>
        </div> 


<button onclick="goTop()" id="scrollUp" ><i class="fas fa-chevron-up" title="Go to Top"></i></i></button>

           
     
  
<% include partials/bottom.ejs %>
