 
<% include partials/top.ejs %>

<header>
    <div class="header-wrapper">
        <h1> The Experimental Layout Lab </h1>
        <h1>with Jen Simmons</h1>
     <div class="imgsjem"><img src="img/crofarm.jpg" alt=""></div>
    <div class="demo-list">
        <li><a href="https://youtube.com/layoutland">Layout Land Video</a></li>
        <ul>
            <li><a href="">Sanjay Kumar</a></li>
            <li><a href="">News Updates</a></li>
            <li><a href="">Global Market </a></li>
            <li><a href="">US China Trade war</a></li>
            <li><a href="">Opportunity for Huawei</a></li>
        </ul></div>
        <p class="follow-links">
            Follow Me on
            <a href="">Twitter</a> or 
            <a href="">WhatsApp</a> or even
            <a href="">Instagram</a>
        
    </p>
       <p></p>
            <div class="workshop-link">
            <ul>
                <li><a href="">Learn from Youtube</a></li>
                <li><a href="">JavaScript Tutorials</a></li>
                <li><a href="">Inovative news of Agriculture</a></li>
            </ul>
        
    </div> </div>
</header>




    <div class="card-footer-fluid">
            <p class="text-center"> Developed & Maintained by Ks <span>2019</span></p>
        </div> 


<button onclick="goTop()" id="scrollUp" ><i class="fas fa-chevron-up" title="Go to Top"></i></i></button>

           
     
  
<% include partials/bottom.ejs %>
